@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

/* Make sure the browser is scrolling? */
html {
  scroll-padding-top: 150px;
  /* misal navbar 150px lebihi dari h-nav lah */
}

.dot-anim span {
  animation: blink 1.4s infinite both;
}

.dot-anim span:nth-child(2) {
  animation-delay: 0.2s;
}

.dot-anim span:nth-child(3) {
  animation-delay: 0.4s;
}

/* globals.css */
.shimmer {
  background: linear-gradient(110deg, #000 40%, #b1b1b1 50%, #000 60%);
  background-size: 200% 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@layer base {
  /* Chrome, Edge, Safari */
  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background: transparent; /* transparan */
  }

  ::-webkit-scrollbar-thumb {
    background: #d58a94; /* pink (Tailwind pink-500) */
    border-radius: 9999px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #e298a2; /* pink-600 biar ada hover */
  }

  /* Firefox */
  html {
    scrollbar-width: thin;
    scrollbar-color: #d58a94 transparent;
  }
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

.max-lg\:animate-marquee {
  animation: marquee 10s linear infinite;
}

/* Markdown biar bisa list (-,1.2.3.) dll */
.markdown-content {
  font-family: var(--font-linux-libertine);
}

.markdown-content p,
.markdown-content ul,
.markdown-content ol,
.markdown-content li {
  font-size: 1.125rem;
  /* text-lg */
  line-height: 1.75rem;
}

@media (min-width: 1024px) {
  .markdown-content p,
  .markdown-content ul,
  .markdown-content ol,
  .markdown-content li {
    font-size: 1.25rem;
    /* text-xl */
    line-height: 1.75rem;
  }
}

.markdown-content ol {
  list-style: decimal;
  padding-left: 2rem;
  margin-bottom: 1rem;
}

.markdown-content ul {
  list-style-type: disc;
  list-style-position: inside;
  margin-bottom: 1rem;
}

.markdown-content li {
  margin-bottom: 0.5rem;
}

.markdown-content h1,
.markdown-content h2,
.markdown-content h3 {
  font-family: var(--font-linux-libertine);
  font-weight: bold;
  margin-top: 1.5rem;
  margin-bottom: 0.75rem;
}

.markdown-content h1 {
  font-size: 1.875rem;
}

/* text-3xl */
.markdown-content h2 {
  font-size: 1.5rem;
}

/* text-2xl */
.markdown-content h3 {
  font-size: 1.25rem;
}

/* text-xl */

@layer utilities {
  /* Menyembunyikan scrollbar untuk Chrome, Safari dan Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Menyembunyikan scrollbar untuk IE, Edge dan Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

/* HTML: <div class="loader"></div> */
@layer components {
  .loader-full-scr {
    height: 80px;
    aspect-ratio: 1;
    padding: 10px;
    border-radius: 50%;
    box-sizing: border-box;
    position: relative;
    mask:
      conic-gradient(#000 0 0) content-box exclude,
      conic-gradient(#000 0 0);
    filter: blur(12px);
  }

  .loader-full-scr::before {
    content: "";
    position: absolute;
    inset: 0;
    background: conic-gradient(#0000 35%, #d58a94, #0000 65%);
    animation: l1 1.5s linear infinite;
  }

  .loader-full-scr-dark {
    height: 80px;
    aspect-ratio: 1;
    padding: 10px;
    border-radius: 50%;
    box-sizing: border-box;
    position: relative;

    mask:
      conic-gradient(#000 0 0) content-box exclude,
      conic-gradient(#000 0 0);

    filter: blur(6px);
  }

  .loader-full-scr-dark::before {
    content: "";
    position: absolute;
    inset: 0;

    background: conic-gradient(#0000 30%, #ffffff 50%, #0000 70%);

    animation: l1 1.2s linear infinite;
  }

  .loader {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    display: block;
    margin: 15px auto;
    position: relative;
    color: #fff;
    left: -100px;
    box-sizing: border-box;
    animation: shadowRolling 2s linear infinite;
  }
}

@keyframes shadowRolling {
  0% {
    box-shadow:
      0px 0 rgba(255, 255, 255, 0),
      0px 0 rgba(255, 255, 255, 0),
      0px 0 rgba(255, 255, 255, 0),
      0px 0 rgba(255, 255, 255, 0);
  }
  12% {
    box-shadow:
      100px 0 gray,
      0px 0 rgba(255, 255, 255, 0),
      0px 0 rgba(255, 255, 255, 0),
      0px 0 rgba(255, 255, 255, 0);
  }
  25% {
    box-shadow:
      110px 0 gray,
      100px 0 gray,
      0px 0 rgba(255, 255, 255, 0),
      0px 0 rgba(255, 255, 255, 0);
  }
  36% {
    box-shadow:
      120px 0 gray,
      110px 0 gray,
      100px 0 gray,
      0px 0 rgba(255, 255, 255, 0);
  }
  50% {
    box-shadow:
      130px 0 white,
      120px 0 white,
      110px 0 white,
      100px 0 white;
  }
  62% {
    box-shadow:
      200px 0 rgba(255, 255, 255, 0),
      130px 0 white,
      120px 0 white,
      110px 0 white;
  }
  75% {
    box-shadow:
      200px 0 rgba(255, 255, 255, 0),
      200px 0 rgba(255, 255, 255, 0),
      130px 0 white,
      120px 0 white;
  }
  87% {
    box-shadow:
      200px 0 rgba(255, 255, 255, 0),
      200px 0 rgba(255, 255, 255, 0),
      200px 0 rgba(255, 255, 255, 0),
      130px 0 white;
  }
  100% {
    box-shadow:
      200px 0 rgba(255, 255, 255, 0),
      200px 0 rgba(255, 255, 255, 0),
      200px 0 rgba(255, 255, 255, 0),
      200px 0 rgba(255, 255, 255, 0);
  }
}

@keyframes l1 {
  to {
    rotate: 1turn;
  }
}

@keyframes shimmer-skeleton {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

@layer utilities {
  .shimmer-skeleton {
    background: linear-gradient(
      90deg,
      #f3f4f6 0%,
      /* base */ #e5e7eb 20%,
      #f9fafb 40%,
      /* highlight tipis */ #e5e7eb 60%,
      #f3f4f6 100%
    );
    background-size: 200% 100%;
    animation: shimmer-skeleton 5s infinite linear;
  }
}
